{% extends "layout.html" %}
{% block content %}
<p><strong>Change Password</strong></p>
<p>{{ username }}</p>
<form method="post" class="mx-auto w-100" style="max-width:400px;">
    <div class="mb-3">
        <label for="current_password">Current Password:</label>
        <input type="password" name="current_password" id="current_password" required class="form-control">
    </div>
    <div class="mb-3">
        <label for="new_password">New Password:</label>
        <input type="password" name="new_password" id="new_password" required class="form-control">
    </div>
    <div class="mb-3">
        <label for="confirmation">Confirm New Password:</label>
        <input type="password" name="confirmation" required class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Change Password</button>
</form>
{% endblock %}