<!-- inital page seen by users -->
 
{% extends "layout.html" %}

{% block title %}/home{% endblock %}

{% block content %}
<h1>My Library</h1>
<p>Are you a serious bookworm? Do you have so many books that you don't know what you have and what you need? Ever been at a bookstore and can't decide if you should get this classic or that new fiction? Wouldn't a personal library catalog of your very own come in handy?</p>
<p>This app is for you! You can keep track of all your books, both the ones you have and the ones you want.</p>
<p>How does it work? It's easy. Just sign up for an account and you can start adding your books to your library. You'll be able to enter all the relevant information: title, author, year released, genre, your rating, and a review for each book. And check out the features you'll have access to:</p>
<ul>
    <li>"My Books" will have a list of all the books you currently own. You'll be able to search through all your entries for exactly what you're looking for. You'll be able to add/delete/update as you see fit.</li>
    <li>"Wishlist" Do you have this book or do you need it? Here you will find a list of all the books you are on a quest to obtain. Handy for your next trip to the bookstore.</li>
    <li>"Ratings and Reviews" What did you think of a book? What did other people think of this book? This page will have exactly what you're searching for.</li>
</ul>
{% endblock %}