<!-- inital page seen by users -->
 
{% extends "layout.html" %}

{% block title %}{% endblock %}

{% block content %}
<h1>My Library</h1>

<p>Do you find yourself surrounded by countless books, unsure of which ones you’ve read or what you still need? Have you ever wandered into a bookstore, torn between a timeless classic and the latest fiction release? Imagine having your personal online library right at your fingertips—wherever you go!</p>
<p><b>This app is designed just for you!</b></p>
<ul class="indent-list">
    <p><b>"My Books"</b> A comprehensive list of all the books you own. Easily search, update, and manage your library.</p>
    <p><b>"Wishlist"</b> A list of all the books you are on a quest to obtain. Perfect for your next bookstore adventure!</p>
    <p><b>"Reviews"</b> Share your thoughts on books and see what others are saying. Discover new favorites based on real recommendations.</p>
</ul>
<p>Register for a free account and get <a href="{{ url_for('auth.register') }}">started!</a></p>

<div style="text-align: right;">
    <small class="text-muted">
        Developed by Kristina Creek | <a href="mailto:skcreek@outlook.com">Contact</a> | Version {{ version }}
    </small>
</div>
{% endblock %}