<!-- homepage of user to display their library of books-->
<!-- table copied from finance pset and refactored -->

{% extends 'layout.html' %}

{% block title %}My Library{% endblock %}

{% block content %}
  <h1>{{ user.username }}'s Books</h1>
  
  <a href="add_book" class="btn btn-primary">Add Book</a>
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Year</th>
        <th>Series</th>
        <th>Genre</th>
        <th>Rating</th>
        <th>Review</th>
      </tr>
    </thead>
    <tbody>
      {% for book in books %}
        <tr>
          <td>{{ book.title }}</td>
          <td>{{ book.author }}</td>
          {% if book.year %}
            <td>{{ book.year }}</td>
          {% else %}
            <td>none</td>
          {% endif %}
          {% if book.series_name %}
            <td>{{ book.series_name }}</td>
          {% else %}
            <td>none</td>
          {% endif %}
          <td>{{ book.genre }}</td>
          {% if book.rating %}
            <td>{{ book.rating }}</td>
          {% else %}
            <td>none</td>
          {% endif %}
          {% if book.review %}
            <td>{{ book.review }}</td>
          {% else %}
            <td>none</td>
          {% endif %}
          <td>
            <form method="post" action="update_book">
              <input type="hidden" name="book_id" value="{{ book.id }}">
              <button class="btn btn-primary" type="submit">Update</button>
            </form>
          </td>
          <td>
            <form method="post" action="delete_book">
              <input type="hidden" name="book_id" value="{{ book.id }}">
              <button class="btn btn-primary" type="submit">Delete</button>
            </form>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}