<!-- homepage of user to display their library of books-->
<!-- table copied from finance pset and refactored -->

{% extends 'layout.html' %}

{% block title %}My Library{% endblock %}

{% block content %}
  <!-- <h1>{{ user.username }}'s Books</h1> -->
  
  <a href="{{ url_for('add_book', book_type='library') }}" class="btn btn-primary button">Add Book</a>

  <table class='table', style="width:100%">
    <thead>
      <tr>
        <th style="width:20%">Title</th>
        <th style="width:10%">Author</th>
        <th style="width:5%">Year</th>
        <th style="width:10%">Series</th>
        <th style="width:10%">Genre</th>
        <th style="width:5%">Rating</th>
        <th style="width:30%">Review</th>
      </tr>
    </thead>
    <tbody>
      {% for book in books %}
        <tr>
          <td>{{ book.title }}</td>
          <td>{{ book.author }}</td>
          {% if book.year %}
            <td>{{ book.year }}</td>
          {% else %}
            <td>none</td>
          {% endif %}
          {% if book.series_name %}
            <td>{{ book.series_name }}</td>
          {% else %}
            <td>none</td>
          {% endif %}
          <td>{{ book.genre.value }}</td>
          {% if book.rating %}
            <td>{{ book.rating }}</td>
          {% else %}
            <td>none</td>
          {% endif %}
          {% if book.review %}
            <td>{{ book.review }}</td>
          {% else %}
            <td>none</td>
          {% endif %}
          <td>
            <form method="post" action="update_book">
              <input type="hidden" name="book_id" value="{{ book.id }}">
              <button class="btn btn-primary" type="submit">Update</button>
            </form>
          </td>
          <td>
            <form method="post" action="delete_book">
              <input type="hidden" name="book_id" value="{{ book.id }}">
              <button class="btn btn-primary" type="submit">Delete</button>
            </form>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}