<!-- register form imported from finance pset -->
<!-- updated with security questions and answers-->
{% extends "layout.html" %}

{% block title %}Password Reset{% endblock %}

{% block main %}
    <p>Reset password below:</p>
    <form action="/passwordreset" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="username" placeholder="Username" type="text">
        </div>
        <!-- fix this -->
        <div class="mb-3">
            <select class="form-control mx-auto w-auto" name="security_question_1">
                {% for question in get_questions_1 %}
                <option value="{{ question }}">{{ question }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="security_answer_1" placeholder="Answer (case sensitive)" type="text">
        </div>
        <div class="mb-3">
            <select class="form-control mx-auto w-auto" name="security_question_2">
                {% for question in get_questions_2 %}
                <option value="{{ question }}">{{ question }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="security_answer_2" placeholder="Answer (case sensitive)" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Register</button>
    </form>
{% endblock %}