<!-- register form imported from finance pset -->
<!-- updated with security questions and answers-->
 
{% extends "layout.html" %}

{% block title %}/password reset{% endblock %}

{% block content %}
    <p>Reset password below:</p>
    <form method="POST">
        <div class="mb-3">
            <label for="username">Username</label>
            <input type="text" class="form-control" name="username" id="username" required>
        </div>
    
        <button type="submit" class="btn btn-primary">Check for User</button>
    </form>
    
    {% if security_question_1 and security_question_2 %}
        <form method="POST">
            <div class="mb-3">
                <label for="security_question_1">Security Question 1: {{ security_question_1 }}</label>
                <input type="text" class="form-control" name="security_answer_1" id="security_answer_1" required>
            </div>
    
            <div class="mb-3">
                <label for="security_question_2">Security Question 2: {{ security_question_2 }}</label>
                <input type="text" class="form-control" name="security_answer_2" id="security_answer_2" required>
            </div>

            <input type="hidden" name="username" value="{{ username }}">  <!-- Pass username back -->
            
            <button type="submit" class="btn btn-primary">Submit Answers</button>
        </form>
    {% endif %}
{% endblock %}
