<!-- homepage of user to display their library of books-->
<!-- table copied from finance pset and refactored -->

{% extends 'layout.html' %}

{% block title %}/reviews{% endblock %}

{% block content %}
  <h1>Reviews</h1>
  <p>Search for books by title, author, or series name</p>
  <form action="{{ url_for('reviews') }}" method="post">
    <div class="mb-3">
      <select class="form-control mx-auto w-auto" name="value">
        {% for value in select_value %}
          <option value="{{ value }}">{{ value }}</option>
        {% endfor %}
      </select>
    </div>
    <input type="text" name="selection" placeholder="Title, Author, Rating, or Series">
    <button type="submit">Search</button>
  </form>
  <table>
    <thead>
      <tr>
        <th style="width:20%">Title</th>
        <th style="width:10%">Author</th>
        <th style="width:5%">Year</th>
        <th style="width:10%">Series</th>
        <th style="width:10%">User</th>
        <th style="width:5%">Rating</th>
        <th style="width:30%">Review</th>
      </tr>
    </thead>
    <tbody>
      {% if results %}
        {% for review in results %}
          <tr>
            <td>{{ review.book.title }}</td>
            <td>{{ review.book.author }}</td>
            <td>{{ review.book.year or 'None' }}</td>
            <td>{{ review.book.series_name or 'None' }}</td>
            
            <td>{{ review.book.user.username }}</td>
            <td>{{ review.rating }}</td>
            <td>{{ review.review }}</td>
          </tr>
        {% endfor %}
      {% else %}
        <tr>
          <td colspan="8">Search to find reviews.</td>
        </tr>
      {% endif %}
    </tbody>
  </table>
{% endblock %}