<!-- table of books on users wishlist -->
<!-- table copied from finance pset and refactored -->
<!-- additional syntax for suggestion from codeium on if else for items -->
{% extends 'layout.html' %}

{% block title %}Wishlist{% endblock %}

{% block content %}
    <h1>My Wishlist</h1>
    <!-- field to enter new book -->
    <a href="{{ url_for('add_book', book_type='wishlist') }}" class="btn btn-primary">Add Book</a>
    
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Series</th>
                <th>Year</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for item in wishlist %}
                <tr>
                    <td>{{ item.title }}</td>
                    <td>{{ item.author }}</td>
                    {% if item.series_name %} <!-- since this column is nullable, check for null -->
                        <td>{{ item.series_name }}</td>
                    {% else %}
                        <td>none</td>
                    {% endif %}
                    {% if item.year %} <!-- since this column is nullable, check for null-->
                        <td>{{ item.year }}</td>
                    {% else %}
                        <td>none</td>
                    {% endif %}
                    <td>
                        <form method="post" action="delete_book"> <!-- delete book form suggested by codeium -->
                            <input type="hidden" name="book_id" value="{{ item.id }}">
                            <button class="btn btn-primary" type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}